<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Uploader</title>
</head>
    <body>
        <form id="form_upload" action="/upload" method="POST">
          <input type="file" name="file1" id="file1" />
          <input type="file" name="file2" id="file2" />
          <input type="file" name="file3" id="file3" />
          <input type="hidden" id="X-Progress-ID" name="X-Progress-ID" value=""/>
          <input type="hidden" id="id" name="id" value=""/>
          <input id="form_submit_button" class="tp-button" type="submit" value="Submit" />
        </form>
    </body>
</html>
<script>

</script>
